<h1>Sign In</h1>

<%= form_with url: sign_in_path do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", autofocus: true %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Sign In", class: "btn btn-primary" %>
  </div>
<% end %>
